---
import Layout from '@layouts/Layout.astro';
import Welcome from '@components/views/Welcome.astro';
import Built from '@components/views/Built.astro';
import Currently from '@components/views/Currently.astro';
import Me from '@components/views/Me.astro';
import Projects from '@components/views/Projects.astro';
import Random from '@components/views/Random.astro';

const commonClasses = "main-section contents"
---

<Layout>
	<section class={`${commonClasses}`} id="0"><Me /></section>
  <section class={`${commonClasses} hidden`} id="1"><Welcome /></section>
  <section class={`${commonClasses} hidden`} id="2"><Built /></section>
	<section class={`${commonClasses} hidden`} id="3"><Currently /></section>
	<section class={`${commonClasses} hidden`} id="4"><Random /></section>
	<section class={`${commonClasses} hidden`} id="5"><Projects /></section>
</Layout>

<script>
  import { pageIndex, sectionCount } from '../store.ts';
  const mainSections = document.querySelectorAll('.main-section')
  
  sectionCount.set(mainSections.length)
  
  // Function to update section visibility
  const updateSectionVisibility = (value: number) => {
    mainSections.forEach(section => {
      section.classList.toggle("hidden", value !== +section.id)
    })
  }
  
  pageIndex.subscribe(updateSectionVisibility)
  
  updateSectionVisibility(pageIndex.get())

</script>