---
import { Quote } from "@lucide/astro";
import Pacman from "./atoms/Pacman.astro";
const SOFTWARES_EATING_THE_WORLD_URL = "https://a16z.com/why-software-is-eating-the-world/";
const SOFTWARE = 'software'
const IS = 'is'
const EATING = 'eating'
const THE = 'the'
const WORLD = 'world'
---

<div class="flex w-full h-full items-center justify-center relative overflow-hidden">
    <h1 class="sr-only">Daniel Jimenez Hernandez Portfolio</h1>
    <h2 id="welcome-text" class="text-heading-1 uppercase font-family-epilogue text-center max-w-1/2">
        <p class="font-family-vt323 text-[8vw] text-left"> { SOFTWARE.split("").map(letter => <span>{letter}</span>) } </p>
        <p class="text-right">
            { IS.split("").map(letter => <span>{letter}</span>) }
            <span class="line-through text-primary-red"> { EATING.split("").map(letter => <span>{letter}</span>) } </span>
        </p>
        <p>
            { THE.split("").map(letter => <span>{letter}</span>) }
            {WORLD}
            <span class="inline-block relative">🌎
    <a class="absolute -top-2 -right-2 block w-fit h-fit" target="_blank" rel="noopener noreferrer" href={SOFTWARES_EATING_THE_WORLD_URL}>
        <Quote class="hover:scale-110 transition-all duration-200 w-[2vw] text-primary-red"/>
    </a>   
            </span>
        </p>
    </h2>
    <Pacman />
</div>

<script>
    const welcomeText = document.getElementById('welcome-text')
    const slider = document.getElementById('slider')
    if(slider && welcomeText) {
        const sliderHeight = slider.offsetHeight
        welcomeText.style.marginBottom = `${sliderHeight}px`
    }
</script>